.maw {
    min-width: 300px;
    min-height: 300px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}
.visible { width: 100%; } .notVisible { width: 50%; }
.maw-toolbar {
    height: 40px;
    border-top: 1px solid #bdc3c7;
    border-bottom: 1px solid #bdc3c7;
    box-sizing: border-box;
}
.maw-tool {
    padding: 10px 10px 8px 10px;
    display: inline-block;
    color: #34495e;
    text-decoration: none;
}
.maw-tool-right {
    float: right;
}
#maw-content, #maw-result {
    margin: 0;
    position: absolute;
    bottom: 0; top: 45px;
    border: none;
    outline: none;
    font-size: 11pt;
    font-family: 'Open Sans', sans-serif;
    color: #34495e;
    box-sizing: border-box;
    overflow: scroll;
}
#maw-content {
    resize: none;
    left: 0;
    padding: 5px 10px 25px 10px;
}
#maw-result {
    width: 50%;
    right: 0;
    padding: 5px 10px;
    text-align: justify;
    border-left: 1px solid #bdc3c7;
}
#maw-result p {
    padding: 0; margin: 0;
    margin-bottom: 20px;
}
#maw-result img {
    max-width: 100%;
}
#maw-result table {
    border: thin solid #bdc3c7;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#maw-result table th:first-child {
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
}

#maw-result table th:last-child {
    border-radius: 0 6px 0 0;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
}

#maw-result table td:first-child, #maw-result table th:first-child {
    border-left: medium none;
}
#maw-result table th {
    border-left: 1px solid #bdc3c7;
    border-top: 1px solid #bdc3c7;
    box-sizing: border-box;
    width: 50%;
    background-color: #bdc3c7;
}
#maw-result table td {
    border-left: 1px solid #bdc3c7;
    border-top: 1px solid #bdc3c7;
    box-sizing: border-box;
    font-family: sans-serif;
    /*width: 100%;*/
    padding: 5px;
    text-align: center;
    /*display: block;*/
    background-color: #ffffff;
}
#maw-result blockquote {
    margin: 0;
    padding: 10px;
    border-left: 5px solid #2c3e50;
    margin-bottom: 10px;
    margin-left: 25px;
    background-color: #ecf0f1;
    color: #2c3e50;
}
#maw-result blockquote p {
    padding: 0; margin: 5px 0;
}
